* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 67.5%;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
}

.display {
  margin: 4rem 0 2rem 0;
  width: 100%;
  background-color: #fff;
  content: "";
  height: 80px;
  font-size: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.button-row {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.button {
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  font-size: 3.6rem;
  font-weight: 700;
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
}

.button-row.clear-row {
  width: 90%;
  justify-content: flex-end;
}

#clear {
  color: #fff;
  background-color: #ff0000;
}
